.container{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    padding-left: 38px;
    padding-right: 120px;

}
.svg{
    width: 18px;
    height: 18px;
}
.p{
    font-size: 18px;
    color: white;
}
.container:hover{
    background-color: var(--secondary-color);
}