:root{
  --main-color : #212121;
  --secondary-color: #262626;
  --tertiary-color: #232323;
  --dark-color: #01060A;
  --darker-color: #1d1d1d;
  --w-color: #fff;
  --o-color: #DC9908;
  --lighter-color: #9A9996;
  --g-color: #585858;
  --fade-timing: 300ms ease-out 20ms;
}
body{
  font-family: "Cairo";
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
  overflow: hidden;
}
.fade-enter{
  opacity: 0;
}
.fade-enter-active{
  opacity: 1;
  transition: var(--fade-timing);
}
.fade-exit{
  opacity: 1;
}
.fade-exit-active{
  opacity: 0;
  transition: var(--fade-timing);
}