.container{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    margin-right: 10px;
    width: 280px;
    z-index: 2;
    /* padding: 0 10px; */
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.element{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 20px;
    padding: 0;
    padding: 15px 15px;
}
.imageProfile{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    padding: 15px 15px;
}
.img{
    height: 32px;
    width: 32px;
    margin: 0;
}
.svg{
    height: 22px;
    width: 22px;
    margin: 0;
}
.p{
    color: var(--w-color);
    margin: 0;
}
.darkMode{
    height: 30px;
    width: 30px;
}
.element:hover{
    background-color: var(--tertiary-color);
    font-weight: 600;
    transition: 100ms ease;
}