.slide-enter{
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.slide-enter-active{
    height: 60px;
    opacity: 1;
    transition: all 400ms ease;
}
.slide-exit{
    height: 60px;
    opacity: 1;
}
.slide-exit-active{
    height: 0px;
    opacity: 0;
    appearance: none;
    transition: all 400ms ease;
}